.callback {
  &-container {
    @include container();
  }
  &__title {
    @include title();
    margin-bottom: 20px;
  }
  &__intro {
    @include  title();
    font-size: calcFluidFontSize(23, 39, 320, 2560);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: calcFluidFontSize(60, 100, 320, 2560);
  }
  &__btn {
    width: calcFluidFontSize(190, 250, 320, 2560);
    height: calcFluidFontSize(75, 120, 320, 2560);
    background: #57e8c0;
    border-radius: 10px;
    border: none;
    margin: 0 auto;
    color: white;
    font-size: calcFluidFontSize(20, 25, 320, 2560);
    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
  }

}