body {
  margin: 0;
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
    background-color: #F5F5F5;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #afafaf;
    box-shadow: inset 0 0 5px 3px rgba(0,0,0,0.4)
  }
}

.header {
  background-image: url(../../img/header/header-bg.jpg);
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  @media (max-width: 1310px) {
    background-size: 89rem;
    background-position: 81% 100%;
  }
  &-container {
    @include container();
    padding: 0 0 0 0;
    height: 100%;
    justify-content: space-around;
    align-items: center;
  }
  &__title {
    position: relative;
    right: -133%;
    top: 0;
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: calcFluidFontSize(45,220,320,2560);
    color: white;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    @media (max-width: 800px) {
      line-height: 83px;
    }
  }
}
.navbar {
  &-list {
    position: relative;
    left: -115%;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    background-color: #31c6bf;
    border: transparent;
    border-radius: 10px;
    list-style: none;
    flex-wrap: wrap;
    -webkit-padding-start: 30px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    @media (max-width: 480px) {
      padding: 20px 0;
      width: 96vw;
      justify-content: space-around;
      -webkit-padding-start: 0;
    }
    &__item {
      color: #778e92;
      font-family: 'PT Sans', sans-serif;
      font-size: calc((100vw - 1px) / 60);
      @media (max-width: 1300px) {
        font-size: 20px;
      }
      &:not(:last-child) {
        margin-right: 40px;
        @media (max-width: 480px) {
          margin: 0;
        }
      }
      &:hover {
        color: #6F6F72;
        cursor: pointer;
      }
    }
  }
}
.mouse {
  width: 30px;
  height: 47px;
  border: 2px solid #fff;
  border-radius: 14px;
  &-scroll {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background: #fff;
    position: relative;
    top: 10px;
    left: 13px;
    animation: scrolls 1.3s ease-out infinite;
  }
}
@keyframes scrolls {
  0% {
    top: 10px;
    opacity: 1;
    height: 4px;
  }
  95% {
    top: 18px;
    opacity: 0;
    height: 10px;
  }
  100% {
    top: 8px;
    opacity: 1;
    height: 4px;
  }
}

@media (min-width: 2560px) {
  .header {
    &-container {
      width: 1610px;
    }
    &__title {
      font-size: 220px
    }
  }
  .navbar {
    //transform: scale(1.5);
    &-list {
      padding: 40px;
      &__item {
        font-size: 40px;
      }
    }
  }
  .mouse {
    width: 45px;
    height: 69px;
    border: 3px solid #fff;
    border-radius: 22px;
    &-scroll {
      width: 6px;
      height: 6px;
      left: 19px;
    }
  }
}


