<div class="header">
    <div class="header-container">
        <ul class="navbar-list">
            <li class="navbar-list__item" data-scroll="benefits">Выгоды</li>
            <li class="navbar-list__item" data-scroll="services">Услуги</li>
            <li class="navbar-list__item" data-scroll="clients">Клиенты</li>
            <li class="navbar-list__item" data-scroll="footer">Контакты</li>
        </ul>
        <div class="header-content">
            <h1 class="header__title">
                Лоялти
            </h1>
            <p class="header__intro">
                Организация охраны труда для Вашего бизнеса
            </p>
        </div>
        <div class="mouse">
            <div class="mouse-scroll"></div>
        </div>
    </div>
</div>





