@charset "UTF-8";
@font-face {
  font-family: "Open Sans Semibold";
  src: url(../fonts/open-sans/OpenSans-Semibold.ttf); }

@font-face {
  font-family: "Quattrocento Sans Bold";
  src: url(../fonts/quattrocento-sans/QuattrocentoSans-Bold.otf); }

@font-face {
  font-family: "foundation-icons";
  src: url(../fonts/font-icons/foundation-icons.eot);
  src: url(../fonts/font-icons/foundation-icons.eot?#iefix) format("embedded-opentype"), url(../fonts/font-icons/foundation-icons.woff) format("woff"), url(../fonts/font-icons/foundation-icons.ttf) format("truetype"), url(../fonts/font-icons/.fontcustom-data) format("svg");
  font-weight: normal;
  font-style: normal; }

.benefits {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in; }
  .benefits-container {
    padding: -webkit-calc( 0.0558 * 100vw + 57.14286px) 0;
    padding: calc( 0.0558 * 100vw + 57.14286px) 0;
    width: 1140px;
    max-width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .benefits__title {
    font-family: 'Alegreya Sans', sans-serif;
    color: #3a3a3a;
    font-size: -webkit-calc( 0.00804 * 100vw + 39.42857px);
    font-size: calc( 0.00804 * 100vw + 39.42857px);
    text-align: center;
    margin-bottom: -webkit-calc( 0.05357 * 100vw + 47.85714px);
    margin-bottom: calc( 0.05357 * 100vw + 47.85714px); }
  .benefits-items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }

.benefit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .benefit__intro {
    width: 195px;
    text-align: center;
    margin-top: 30px;
    font-size: 17px;
    color: #595959;
    font-family: 'PT Sans', sans-serif; }
    .benefit__intro::after, .benefit__intro::before {
      content: '';
      display: block;
      width: 75px;
      background-color: red;
      height: 3px;
      margin: 20px auto; }
  .benefit__svg-wrapper {
    width: 150px;
    height: 150px; }
  .benefit__svg-icon {
    color: #666666; }

@media (min-width: 2560px) {
  .benefits-container {
    padding: 200px 15px;
    width: 1610px;
    max-width: 100%;
    margin: 0 auto; }
  .benefit__intro {
    width: 279px;
    font-size: 22px; } }

@media (max-width: 480px) {
  .benefit {
    margin-bottom: 70px; }
    .benefit__svg-wrapper {
      height: 125px;
      width: 125px; } }

.callback-container {
  padding: -webkit-calc( 0.0558 * 100vw + 57.14286px) 0;
  padding: calc( 0.0558 * 100vw + 57.14286px) 0;
  width: 1140px;
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.callback__title {
  font-family: 'Alegreya Sans', sans-serif;
  color: #3a3a3a;
  font-size: -webkit-calc( 0.00804 * 100vw + 39.42857px);
  font-size: calc( 0.00804 * 100vw + 39.42857px);
  text-align: center;
  margin-bottom: -webkit-calc( 0.05357 * 100vw + 47.85714px);
  margin-bottom: calc( 0.05357 * 100vw + 47.85714px);
  margin-bottom: 20px; }

.callback__intro {
  font-family: 'Alegreya Sans', sans-serif;
  color: #3a3a3a;
  font-size: -webkit-calc( 0.00804 * 100vw + 39.42857px);
  font-size: calc( 0.00804 * 100vw + 39.42857px);
  text-align: center;
  margin-bottom: -webkit-calc( 0.05357 * 100vw + 47.85714px);
  margin-bottom: calc( 0.05357 * 100vw + 47.85714px);
  font-size: -webkit-calc( 0.00714 * 100vw + 20.71429px);
  font-size: calc( 0.00714 * 100vw + 20.71429px);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: -webkit-calc( 0.01786 * 100vw + 54.28571px);
  margin-bottom: calc( 0.01786 * 100vw + 54.28571px); }

.callback__btn {
  width: -webkit-calc( 0.02679 * 100vw + 181.42857px);
  width: calc( 0.02679 * 100vw + 181.42857px);
  height: -webkit-calc( 0.02009 * 100vw + 68.57143px);
  height: calc( 0.02009 * 100vw + 68.57143px);
  background: #57e8c0;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  border: none;
  margin: 0 auto;
  color: white;
  font-size: -webkit-calc( 0.00223 * 100vw + 19.28571px);
  font-size: calc( 0.00223 * 100vw + 19.28571px); }
  .callback__btn:hover {
    opacity: 0.6;
    cursor: pointer; }
  .callback__btn:focus {
    outline: none; }

.clients {
  background: #f4f6f7; }
  .clients__title {
    font-family: 'Alegreya Sans', sans-serif;
    color: #3a3a3a;
    font-size: -webkit-calc( 0.00804 * 100vw + 39.42857px);
    font-size: calc( 0.00804 * 100vw + 39.42857px);
    text-align: center;
    margin-bottom: -webkit-calc( 0.05357 * 100vw + 47.85714px);
    margin-bottom: calc( 0.05357 * 100vw + 47.85714px); }
  .clients-container {
    padding: -webkit-calc( 0.0558 * 100vw + 57.14286px) 0;
    padding: calc( 0.0558 * 100vw + 57.14286px) 0;
    width: 1140px;
    max-width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .clients-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }

.client {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 25px; }

@media (min-width: 2560px) {
  .clients__title {
    margin-bottom: 145px; }
  .clients-container {
    padding: 200px 15px;
    width: 1610px;
    max-width: 100%;
    margin: 0 auto; }
  #eco {
    width: 170px; }
  .client-img {
    width: 360px; } }

.footer {
  background: rgba(253, 255, 184, 0.5); }
  .footer-container {
    padding: -webkit-calc( 0.0558 * 100vw + 57.14286px) 0;
    padding: calc( 0.0558 * 100vw + 57.14286px) 0;
    width: 1140px;
    max-width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.2;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 100px;
    padding: 100px 0;
    color: #b3b3b3; }

.author-link {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 4px 6px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
  display: inline-block;
  -webkit-border-radius: 3px;
          border-radius: 3px; }

.scroll-btn {
  opacity: 0;
  position: fixed;
  bottom: 6%;
  right: 3%;
  background: #3b5998;
  padding: 10px;
  color: white;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  z-index: 99;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 10px;
  height: 10px;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer; }

body {
  margin: 0; }
  body::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
    -webkit-border-radius: 10px;
            border-radius: 10px; }
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
    background-color: #F5F5F5;
    -webkit-border-radius: 5px;
            border-radius: 5px; }
  body::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
            border-radius: 8px;
    background-color: #afafaf;
    -webkit-box-shadow: inset 0 0 5px 3px rgba(0, 0, 0, 0.4);
            box-shadow: inset 0 0 5px 3px rgba(0, 0, 0, 0.4); }

.header {
  background-image: url(../img/header/header-bg.jpg);
  -webkit-background-size: 120% 120%;
          background-size: 120%;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (max-width: 1024px) {
    .header {
      -webkit-background-size: 129rem 129rem;
              background-size: 129rem;
      background-position: 81% 100%; } }
  @media (max-width: 765px) {
    .header {
      -webkit-background-size: 89rem 89rem;
              background-size: 89rem;
      background-position: 81% 100%; } }
  .header-container {
    padding: -webkit-calc( 0.0558 * 100vw + 57.14286px) 0;
    padding: calc( 0.0558 * 100vw + 57.14286px) 0;
    width: 1140px;
    max-width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 0 0;
    height: 100%;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__title {
    text-align: center;
    position: relative;
    right: -133%;
    top: 0;
    max-width: 100%;
    margin: 0 auto;
    letter-spacing: 12px;
    font-family: 'Montserrat', sans-serif;
    font-size: -webkit-calc( 0.07813 * 100vw + 20px);
    font-size: calc( 0.07813 * 100vw + 20px);
    color: white;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0; }
    .header__title--slide {
      right: 0;
      -webkit-transition: 0.5s cubic-bezier(0.84, 0, 0.47, 1);
      -o-transition: 0.5s cubic-bezier(0.84, 0, 0.47, 1);
      transition: 0.5s cubic-bezier(0.84, 0, 0.47, 1); }
    .header__title--slide__min-screen {
      -webkit-transition: 0.4s cubic-bezier(0.84, 0, 0.47, 1);
      -o-transition: 0.4s cubic-bezier(0.84, 0, 0.47, 1);
      transition: 0.4s cubic-bezier(0.84, 0, 0.47, 1);
      position: static; }
    @media (max-width: 1024px) {
      .header__title {
        line-height: 8rem; } }
    @media (max-width: 800px) {
      .header__title {
        line-height: 83px; } }
  .header__intro {
    max-width: 100%;
    margin: 0 auto;
    font-family: 'PT Sans', sans-serif;
    font-size: -webkit-calc( 0.02902 * 100vw + 5.71429px);
    font-size: calc( 0.02902 * 100vw + 5.71429px);
    color: #d0d0d0;
    text-align: center;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0); }
    .header__intro--scaleup {
      -webkit-transition: 0.4s cubic-bezier(0.84, 0, 0.47, 1);
      -o-transition: 0.4s cubic-bezier(0.84, 0, 0.47, 1);
      transition: 0.4s cubic-bezier(0.84, 0, 0.47, 1);
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1); }

.navbar-list {
  position: relative;
  left: -115%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 30px;
  background-color: #31c6bf;
  border: transparent;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  list-style: none;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-padding-start: 30px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }
  .navbar-list--slide {
    left: 0;
    -webkit-transition: 0.7s cubic-bezier(0.84, 0, 0.47, 1);
    -o-transition: 0.7s cubic-bezier(0.84, 0, 0.47, 1);
    transition: 0.7s cubic-bezier(0.84, 0, 0.47, 1); }
  .navbar-list--slide__min-screen {
    -webkit-transition: 0.5s cubic-bezier(0.84, 0, 0.47, 1);
    -o-transition: 0.5s cubic-bezier(0.84, 0, 0.47, 1);
    transition: 0.5s cubic-bezier(0.84, 0, 0.47, 1);
    position: static; }
  @media (max-width: 480px) {
    .navbar-list {
      padding: 20px 0;
      width: 96vw;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      -webkit-padding-start: 0; } }
  .navbar-list__item {
    color: #778e92;
    font-family: 'PT Sans', sans-serif;
    font-size: -webkit-calc( 0.00982 * 100vw + 14.85714px);
    font-size: calc( 0.00982 * 100vw + 14.85714px); }
    .navbar-list__item:not(:last-child) {
      margin-right: 40px; }
      @media (max-width: 480px) {
        .navbar-list__item:not(:last-child) {
          margin: 0; } }
    .navbar-list__item:hover {
      color: #6F6F72;
      cursor: pointer; }

.mouse {
  width: 30px;
  height: 47px;
  border: 2px solid #fff;
  -webkit-border-radius: 14px;
          border-radius: 14px; }
  .mouse-scroll {
    width: 4px;
    height: 4px;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    background: #fff;
    position: relative;
    top: 10px;
    left: 13px;
    -webkit-animation: scrolls 1.3s ease-out infinite;
            animation: scrolls 1.3s ease-out infinite; }

@-webkit-keyframes scrolls {
  0% {
    top: 10px;
    opacity: 1;
    height: 4px; }
  95% {
    top: 18px;
    opacity: 0;
    height: 10px; }
  100% {
    top: 8px;
    opacity: 1;
    height: 4px; } }

@keyframes scrolls {
  0% {
    top: 10px;
    opacity: 1;
    height: 4px; }
  95% {
    top: 18px;
    opacity: 0;
    height: 10px; }
  100% {
    top: 8px;
    opacity: 1;
    height: 4px; } }

@media (min-width: 2560px) {
  .header-container {
    width: 1610px; }
  .navbar-list {
    padding: 40px; }
  .mouse {
    width: 45px;
    height: 69px;
    border: 3px solid #fff;
    -webkit-border-radius: 22px;
            border-radius: 22px; }
    .mouse-scroll {
      width: 6px;
      height: 6px;
      left: 19px; } }

@media (max-width: 767px) {
  .header__title {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0); }
  .navbar-list {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0); } }

.services {
  background-color: #f4f6f7; }
  .services__title {
    font-family: 'Alegreya Sans', sans-serif;
    color: #3a3a3a;
    font-size: -webkit-calc( 0.00804 * 100vw + 39.42857px);
    font-size: calc( 0.00804 * 100vw + 39.42857px);
    text-align: center;
    margin-bottom: -webkit-calc( 0.05357 * 100vw + 47.85714px);
    margin-bottom: calc( 0.05357 * 100vw + 47.85714px); }
  .services-container {
    padding: -webkit-calc( 0.0558 * 100vw + 57.14286px) 0;
    padding: calc( 0.0558 * 100vw + 57.14286px) 0;
    width: 1140px;
    max-width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: opacity 0.7s ease-in;
    -o-transition: opacity 0.7s ease-in;
    transition: opacity 0.7s ease-in; }
  .services-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    text-align: center; }

.service {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-calc( 0.01369 * 100vw + 272.61905px);
  width: calc( 0.01369 * 100vw + 272.61905px);
  height: -webkit-calc( 0.01369 * 100vw + 115.61905px);
  height: calc( 0.01369 * 100vw + 115.61905px);
  max-width: 100%;
  border: 2px solid #31c4bd;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  margin-bottom: 40px;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear; }
  .service:hover {
    cursor: pointer;
    -webkit-box-shadow: inset -webkit-calc( 0.01369 * 100vw + 272.61905px) 0 0 0 rgba(49, 196, 189, 0.44);
            box-shadow: inset calc( 0.01369 * 100vw + 272.61905px) 0 0 0 rgba(49, 196, 189, 0.44); }
  .service__title {
    color: #6b6b6b;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: -webkit-calc( 0.00223 * 100vw + 24.28571px);
    font-size: calc( 0.00223 * 100vw + 24.28571px);
    padding: 15px; }

.popup {
  z-index: 1;
  height: 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: height 0.5s cubic-bezier(0, 0, 1, 1);
  -o-transition: height 0.5s cubic-bezier(0, 0, 1, 1);
  transition: height 0.5s cubic-bezier(0, 0, 1, 1); }
  .popup-content {
    display: none;
    overflow: auto;
    width: 1000px;
    max-width: 100%;
    height: 755px;
    position: relative;
    -webkit-border-radius: 2%;
            border-radius: 2%;
    background: #f9f9f9;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 14px 20px 28px rgba(0, 0, 0, 0.4), -14px 20px 28px rgba(0, 0, 0, 0.4);
            box-shadow: 14px 20px 28px rgba(0, 0, 0, 0.4), -14px 20px 28px rgba(0, 0, 0, 0.4);
    -webkit-animation: slideinPopupContent 0.4s ease-in-out;
            animation: slideinPopupContent 0.4s ease-in-out;
    -moz-animation: slideinPopupContent 1.3s ease-in-out; }
    @media (max-width: 420px) {
      .popup-content {
        height: 695px; } }

@-webkit-keyframes slideinPopupContent {
  from {
    top: -100%; }
  to {
    top: 0; } }

@keyframes slideinPopupContent {
  from {
    top: -100%; }
  to {
    top: 0; } }
    .popup-content::-webkit-scrollbar {
      width: 10px;
      background-color: #F5F5F5;
      -webkit-border-radius: 10px;
              border-radius: 10px; }
    .popup-content::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
              box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
      background-color: #F5F5F5;
      -webkit-border-radius: 5px;
              border-radius: 5px; }
    .popup-content::-webkit-scrollbar-thumb {
      -webkit-border-radius: 8px;
              border-radius: 8px;
      background-color: #afafaf;
      -webkit-box-shadow: inset 0 0 5px 3px rgba(0, 0, 0, 0.4);
              box-shadow: inset 0 0 5px 3px rgba(0, 0, 0, 0.4); }
  .popup__title {
    font-family: 'Alegreya Sans', sans-serif;
    color: #3a3a3a;
    font-size: -webkit-calc( 0.00804 * 100vw + 39.42857px);
    font-size: calc( 0.00804 * 100vw + 39.42857px);
    text-align: center;
    margin-bottom: -webkit-calc( 0.05357 * 100vw + 47.85714px);
    margin-bottom: calc( 0.05357 * 100vw + 47.85714px);
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0;
    padding: 0 40px;
    margin-bottom: 20px; }
  .popup__intro {
    margin: 40px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.4px;
    font-family: 'PT Sans', sans-serif; }
  .popup-callback {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .popup-callback__intro {
      font-family: 'Alegreya Sans', sans-serif;
      text-align: center;
      color: #3a3a3a;
      font-size: -webkit-calc( 0.00446 * 100vw + 18.57143px);
      font-size: calc( 0.00446 * 100vw + 18.57143px);
      margin: 50px 0 20px; }
  .popup__arrow {
    z-index: 2;
    display: none;
    position: relative;
    font-weight: 800;
    color: white;
    opacity: 0.5;
    font-size: 60px;
    margin: 0 20px;
    font-family: 'PT Sans', sans-serif;
    -webkit-animation: slideinArrow 1s ease-in-out;
            animation: slideinArrow 1s ease-in-out;
    -moz-animation: slideinArrow 1.7s ease-in-out; }

@-webkit-keyframes slideinArrow {
  from {
    top: -100%; }
  to {
    top: 0; } }

@keyframes slideinArrow {
  from {
    top: -100%; }
  to {
    top: 0; } }
    .popup__arrow:hover {
      opacity: 1;
      cursor: pointer; }
    .popup__arrow:focus {
      outline: none; }
    .popup__arrow > .material-icons {
      font-size: -webkit-calc( 0.0067 * 100vw + 37.85714px);
      font-size: calc( 0.0067 * 100vw + 37.85714px); }
  .popup__close {
    position: absolute;
    top: 2%;
    right: 2%;
    color: white;
    opacity: 0.3;
    font-size: 50px; }
    .popup__close:hover {
      opacity: 1;
      cursor: pointer; }
    .popup__close > .material-icons {
      font-size: -webkit-calc( 0.0067 * 100vw + 37.85714px);
      font-size: calc( 0.0067 * 100vw + 37.85714px); }

.hamburger {
  display: none;
  position: relative;
  top: -20%;
  -webkit-animation: slideinPopupNavFromTop 0.7s ease-in-out;
          animation: slideinPopupNavFromTop 0.7s ease-in-out;
  -moz-animation: slideinPopupNavFromTop 1.6s ease-in-out; }

@-webkit-keyframes slideinPopupNavFromTop {
  from {
    top: -100%; }
  to {
    top: -20%; } }

@keyframes slideinPopupNavFromTop {
  from {
    top: -100%; }
  to {
    top: -20%; } }
  .hamburger__open-close {
    display: none; }
    .hamburger__open-close :hover {
      cursor: pointer; }

.popupnav {
  padding: 10px 30px;
  background: #666666;
  border: 0.5px solid transparent;
  -webkit-border-radius: 9px;
          border-radius: 9px;
  -webkit-box-shadow: 14px 20px 28px rgba(0, 0, 0, 0.4), -14px 20px 28px rgba(0, 0, 0, 0.4);
          box-shadow: 14px 20px 28px rgba(0, 0, 0, 0.4), -14px 20px 28px rgba(0, 0, 0, 0.4); }
  .popupnav-list {
    list-style: none;
    text-align: center;
    -webkit-padding-start: 0;
    -moz-padding-start: 0; }
    .popupnav-list__item {
      margin-bottom: 10px;
      cursor: pointer;
      color: #e1e1e1;
      font-family: 'PT Sans', sans-serif;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
      .popupnav-list__item:hover {
        -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
                transform: scale(1.05);
        -webkit-box-shadow: 0 3px 17px black;
                box-shadow: 0 3px 17px black; }

@media (min-width: 2560px) {
  .services-container {
    padding: 200px 15px;
    width: 1610px;
    max-width: 100%;
    margin: 0 auto; }
  .service {
    border: 3px solid #31c4bd;
    width: 398px;
    height: 198px; }
    .service:hover {
      -webkit-box-shadow: inset 398px 0 0 0 rgba(49, 196, 189, 0.44);
              box-shadow: inset 398px 0 0 0 rgba(49, 196, 189, 0.44); }
    .service__title {
      font-size: 35px;
      padding: 36px; }
  .popupnav {
    padding: 20px 50px; }
    .popupnav-list {
      font-size: 23px; }
  .popup__title {
    font-size: 56px; }
  .popup__intro {
    font-size: 23px;
    line-height: 34px; } }

@media (max-width: 1550px) {
  .hamburger {
    display: none;
    position: absolute;
    top: 20%;
    left: -335px;
    z-index: 1;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-animation: hambSlideInFromLeft 1.5s;
            animation: hambSlideInFromLeft 1.5s; }
  @-webkit-keyframes hambSlideInFromLeft {
    from {
      left: -380px; }
    to {
      left: -335px; } }
  @keyframes hambSlideInFromLeft {
    from {
      left: -380px; }
    to {
      left: -335px; } }
    .hamburger--opened {
      left: 0; }
    .hamburger__open-close {
      position: absolute;
      top: -9%;
      right: 5%;
      display: block; }
  .icon-wrapper {
    position: absolute;
    background: #4c908d;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: #e1e1e1;
    -webkit-box-shadow: -3px 8px 10px 3px rgba(0, 0, 0, 0.4);
            box-shadow: -3px 8px 10px 3px rgba(0, 0, 0, 0.4);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-animation: turn 2s;
            animation: turn 2s; }
  @-webkit-keyframes turn {
    to {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg); } }
  @keyframes turn {
    to {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg); } }
    .icon-wrapper__hamb {
      z-index: 1;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden; } }

@media (max-width: 520px) {
  .hamburger {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 52px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: #4c908d;
    -webkit-animation: slideInNavbarFromTopXs 1s;
            animation: slideInNavbarFromTopXs 1s; }
  @-webkit-keyframes slideInNavbarFromTopXs {
    from {
      top: -60px; }
    to {
      top: 0; } }
  @keyframes slideInNavbarFromTopXs {
    from {
      top: -60px; }
    to {
      top: 0; } }
    .hamburger__open-close {
      display: none; }
    .hamburger:before {
      content: "≡";
      color: #ffffff;
      font-size: 60px;
      margin-left: 40px; }
    .hamburger:hover {
      cursor: pointer; }
  .popupnav {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 3.2rem;
    max-height: 300px;
    -webkit-transition: max-height .3s;
    -o-transition: max-height .3s;
    transition: max-height .3s;
    z-index: 1;
    border: none;
    -webkit-border-top-right-radius: 0;
            border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
            border-top-left-radius: 0; }
    .popupnav--closed {
      overflow: hidden;
      max-height: 0; }
    .popupnav-list--closed {
      overflow: hidden;
      max-height: 0; } }
