<div class="clients">
    <div class="clients-container">
        <h2 class="clients__title">
            Клиенты
        </h2>
        <div class="clients-block">
            <div class="client">
                <img src="../../img/clients/atom.png" alt="" class="client-img">
            </div>
            <div class="client">
                <img src="../../img/clients/rosohr.png" alt="" class="client-img">
            </div>
            <div class="client">
                <img src="../../img/clients/rtk.png" alt="" class="client-img">
            </div>
            <div class="client">
                <img src="../../img/clients/altair.png" alt="" class="client-img">
            </div>
            <div class="client">
                <img src="../../img/clients/eslight.png" alt="" class="client-img">
            </div>
            <div class="client">
                <img src="../../img/clients/ecoteck.png" alt="" class="client-img">
            </div>
        </div>
    </div>
</div>