.clients {
  &__title {
    @include title();
  }
  &-container {
    @include container();
  }
  &-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.client {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 50px 0 0;
}

//for big screen
@media (min-width: 2560px) {
  .clients {
    &__title {
      @include titleBigScreen();
      margin-bottom: 145px;
    }
    &-container {
      @include containerBigSreen()
    }
  }
  #eco {
    width: 170px;
  }
  .client {
    &-img {
      width: 360px;
    }
  }
}