<div class="benefits">
    <div class="benefits-container">
        <div class="benefits__title">
            Преимущества работы с нами
        </div>
        <div class="benefits-items">

            <div class="benefit">
                <div class="benefit__svg-wrapper">
                    <svg version="1.1" class="benefit__svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 262.02 262.02" style="enable-background:new 0 0 262.02 262.02;" xml:space="preserve">
                        <g>
                            <path style="fill:none;stroke:#666;stroke-width:7;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="M154.115,30.705c0,12.816-10.381,23.199-23.201,23.199c-12.81,0-23.203-10.383-23.203-23.199c0-12.82,10.393-23.205,23.203-23.205
                                    C143.734,7.5,154.115,17.885,154.115,30.705z"/>
                            <path style="fill:none;stroke:#666;stroke-width:7;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="M108.744,169.203c-7.104-3.779-11.96-11.273-11.96-19.846V98.873c0-12.352,10.1-22.459,22.456-22.459h23.54
                                    c12.351,0,22.457,10.107,22.457,22.459v50.484c0,8.572-4.859,16.066-11.964,19.846"/>

                            <line style="fill:none;stroke:#666;stroke-width:7;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="108.749" y1="254.52" x2="108.749" y2="169.203"/>

                            <line style="fill:none;stroke:#666;stroke-width:7;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="153.268" y1="254.52" x2="153.268" y2="169.203"/>
                        </g>
                    </svg>
                </div>
                <div class="benefit__intro">
                    Аутсорс обойдется в 2-3 раза девшевле,
                    чем содержание штатного специалиста
                </div>
            </div>
            <div class="benefit">
                <div class="benefit__svg-wrapper">
                    <svg version="1.1" class="benefit__svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 228.079 228.079" style="enable-background:new 0 0 228.079 228.079;" xml:space="preserve">
                        <g>
                            <polyline style="fill:none;stroke:#666;stroke-width:7;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
                                160.963,30.654 190.973,30.654 190.973,220.579 37.106,220.579 37.106,30.654 66.624,30.654 	"/>
                            <polygon style="fill:none;stroke:#666;stroke-width:7;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
                                137.631,17.274 137.631,17.274 137.631,7.5 89.946,7.5 89.946,17.274 72.233,17.274 72.233,57.327 155.35,57.327 155.35,17.274
                                "/>
                            <g>
                                <line style="fill:none;stroke:#666;stroke-width:7;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="72.153" y1="97.922" x2="155.924" y2="97.922"/>

                                <line style="fill:none;stroke:#666;stroke-width:7;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="72.153" y1="149.468" x2="155.924" y2="149.468"/>

                                <line style="fill:none;stroke:#666;stroke-width:7;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="72.153" y1="123.691" x2="155.924" y2="123.691"/>

                                <line style="fill:none;stroke:#666;stroke-width:7;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="72.153" y1="175.244" x2="155.924" y2="175.244"/>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="benefit__intro">
                    Индивидуальная разработка документов для каждого клиента
                </div>
            </div>
            <div class="benefit">
                <div class="benefit__svg-wrapper">
                    <svg version="1.1" class="benefit__svg-icon"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 216.832 216.832" style="enable-background:new 0 0 216.832 216.832;" xml:space="preserve">
                        <g>
                            <path style="fill:none;stroke:#666;stroke-width:7;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
                                M27.681,7.5v121.104l0,0c0.004,44.587,80.738,80.729,80.738,80.729s80.731-36.142,80.731-80.729l0,0V7.5H27.681z"/>
                            <path style="fill:none;stroke:#666;stroke-width:7;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
                                M108.419,174.23c-6.332-3.389-15.156-8.495-23.814-14.818c-16.657-12.16-26.6-24.487-26.6-32.974V37.002h100.828v89.437
                                c0,8.486-9.947,20.813-26.599,32.974C123.569,165.735,114.746,170.842,108.419,174.23z"/>
                        </g>
                    </svg>
                </div>
                <div class="benefit__intro">
                    Поможем избежать
                    штрафных санкций
                </div>
            </div>
            <div class="benefit">
                <div class="benefit__svg-wrapper">
                    <svg version="1.1" class="benefit__svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 231.949 231.949" style="enable-background:new 0 0 231.949 231.949;" xml:space="preserve">
                        <g>
                            <path style="fill:none;stroke:#666;stroke-width:7;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
                                M136.77,58.532l31.139-17.115l0.08,30.564c15.912,8.117,28.308,22.118,34.313,39.146h22.148v36.327h-19.4
                                c-3.797,20.214-16.273,37.353-33.41,47.424v26.928h-35.494l0.064-17.31H77.572l-0.012,17.31H39.83v-28.351
                                C20.395,180.999,7.5,159.225,7.5,134.425c0-31.902,21.318-58.826,50.486-67.298"/>
                            <path style="fill:none;stroke:#666;stroke-width:7;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
                                M137.402,51.404c0,22.786-18.473,41.26-41.26,41.26c-22.785,0-41.264-18.474-41.264-41.26c0-22.789,18.479-41.26,41.264-41.26
                                C118.93,10.144,137.402,28.615,137.402,51.404z"/>

                                <line style="fill:none;stroke:#666;stroke-width:7;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="54.879" y1="92.664" x2="137.402" y2="92.664"/>
                        </g>
                    </svg>
                </div>
                <div class="benefit__intro">
                    Сокращение затрат на
                    производственные процессы
                </div>
            </div>
        </div>
    </div>
</div>