.benefits {
  opacity: 0;
  transition: opacity 0.5s ease-in;
  &-container {
    @include container();
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  &__title {
    @include title();
    margin-top: 125px;
    text-align: center;
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
    margin: 95px 0;
    justify-content: space-around;
  }
}

.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__intro {
    width: 195px;
    text-align: center;
    margin-top: 30px;
    font-size: 17px;
    color: #595959;
    font-family: 'PT Sans', sans-serif;
    &::after, &::before {
      content: '';
      display: block;
      width: 75px;
      background-color: red;
      height: 3px;
      margin: 20px auto;

    }
  }
  &__svg {
    &-wrapper {
      width: 150px;
      height: 150px;
    }
    &-icon {
      color: #666666;
    }
  }
}

@media (min-width: 2560px) {
  .benefits {
    &-container {
      width: 1610px;
    }
    &__title {
      font-size: 60px;
      margin-top: 185px;
    }
    &-items {
      margin: 170px 0;
    }
  }
  .benefit {
    &__intro {
      width: 279px;
      font-size: 22px;
    }
  }

}


