@font-face {
  font-family: "Open Sans Semibold";
  src: url(../fonts/open-sans/OpenSans-Semibold.ttf);
}
@font-face {
  font-family: "Quattrocento Sans Bold";
  src: url(../fonts/quattrocento-sans/QuattrocentoSans-Bold.otf)
}


@font-face {
  font-family: "foundation-icons";
  src: url(../fonts/font-icons/foundation-icons.eot);
  src: url(../fonts/font-icons/foundation-icons.eot?#iefix) format("embedded-opentype"),
  url(../fonts/font-icons/foundation-icons.woff) format("woff"),
  url(../fonts/font-icons/foundation-icons.ttf) format("truetype"),
  url(../fonts/font-icons/.fontcustom-data) format("svg");
  font-weight: normal;
  font-style: normal;
}







