@mixin container() {
  padding: calcFluidFontSize(75,200,320,2560) 0;
  width: 1140px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
@mixin title() {
  font-family: 'Alegreya Sans', sans-serif;
  color: #3a3a3a;
  font-size: calcFluidFontSize(42,60,320,2560);
  text-align: center;
  margin-bottom: calcFluidFontSize(65,185,320,2560);
}

@mixin containerBigSreen {
  padding: 200px 15px;
  width: 1610px;
  max-width: 100%;
  margin: 0 auto;
}

