@mixin container() {
  padding: 135px 0;
  width: 1140px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
@mixin title() {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  color: #3a3a3a;
  font-size: 50px;
  text-align: center;
  margin-bottom: 125px;
}

@mixin containerBigSreen {
  padding: 200px 15px;
  width: 1610px;
  max-width: 100%;
  margin: 0 auto;
}

@mixin titleBigScreen() {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  color: #3a3a3a;
  font-size: 60px;
  text-align: center;
  margin-bottom: 185px;
}