<div class="services">
    <div class="services-container">
        <div class="services__title">
            Услуги
        </div>
        <div class="services-block">
            <div class="service">
                <div class="service__title">
                    Специальная оценка условий труда
                </div>
            </div>
            <div class="service">
                <div class="service__title">
                    Организация мед. осмотров
                </div>
            </div>
            <div class="service">
                <div class="service__title">
                    Системы управления охраной труда
                </div>
            </div>
            <div class="service">
                <div class="service__title">
                    Аутсорсинг охраны труда
                </div>

            </div>
            <div class="service">
                <div class="service__title">
                    Аудит по охране труда
                </div>
            </div>
            <div class="service">
                <div class="service__title">
                    Документы по охране труда
                </div>
            </div>
            <div class="service">
                <div class="service__title">
                    Декларация СОУТ
                </div>
            </div>
            <div class="service">
                <div class="service__title">
                    Расследование несчастных случаев
                </div>
            </div>
            <div class="service">
                <div class="service__title">
                    Возмещение средств из ФСС
                </div>
            </div>
            <div class="service">
                <div class="service__title">
                    Производственный контроль
                </div>

            </div>
        </div>
    </div>
</div>




