<div class="services">
    <div class="services-container">
        <div class="services__title">
            Услуги
        </div>
        <div class="services-block">
            <div class="service">
                <div class="service__title">
                    Специальная оценка условий труда
                </div>
            </div>
            <div class="service">
                <div class="service__title">
                    Знаки безопасности и сигнальная разметка
                </div>
            </div>
            <div class="service">
                <div class="service__title">
                    Аутсорсинг охраны труда
                </div>
            </div>
            <div class="service">
                <div class="service__title">
                    Аудит по охране труда
                </div>
            </div>
            <div class="service">
                <div class="service__title">
                    Разработка документов по охране труда
                </div>
            </div>
            <div class="service">
                <div class="service__title">
                    Разработка транспортных схем
                </div>
            </div>
        </div>
    </div>
</div>




