.services {
  background-color: #f4f6f7;
  &__title {
    @include title();
  }
  &-container {
    @include container();
    transition: opacity 0.5s ease-in;
  }
  &-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }
}

.service {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  max-width: 100%;
  border: 2px solid rgb(49, 196, 189);
  border-radius: 10px;
  margin-bottom: 40px;
  transition: .2s linear;
  &:hover {
    cursor: pointer;
    box-shadow: inset 300px 0 0 0 rgba(49, 196, 189, 0.44);
  }
  &__title {
    color: #6b6b6b;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 29px;
    padding: 15px;
  }
}

.popup {
  z-index: 1;
  height: 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  transition: height 0.5s cubic-bezier(0, 0, 1, 1);
  &-content {
    display: none;
    overflow: auto;
    width: 1000px;
    max-width: 100%;
    height: 755px;
    position: relative;
    border-radius: 2%;
    background: #f9f9f9;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 14px 20px 28px rgba(0,0,0,0.4),
                -14px 20px 28px rgba(0,0,0,0.4);
    animation: slideinPopupContent 0.4s ease-in-out;
    -moz-animation: slideinPopupContent 1.3s ease-in-out;
    @keyframes slideinPopupContent {
      from {
        top: -100%;
      }
      to {
        top: 0;
      }
    }
    @-moz-keyframes slideinPopupContent {
      from {
        top: -100%;
      }
      to {
        top: 0;
      }
    }
    &::-webkit-scrollbar {
      width: 10px;
      background-color: #F5F5F5;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
      background-color: #F5F5F5;
      border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background-color: #afafaf;
      box-shadow: inset 0 0 5px 3px rgba(0,0,0,0.4)
    }
  }
  &__title {
    @include title();
    text-align: center;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0;
    padding: 0 40px;
  }
  &__intro {
    margin: 40px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.4px;
    font-family: 'PT Sans', sans-serif;
  }
  &__arrow {
    z-index: 2;
    display: none;
    position: relative;
    font-weight: 800;
    color: white;
    opacity: 0.5;
    font-size: 60px;
    margin: 0 20px;
    font-family: 'PT Sans', sans-serif;
    animation: slideinArrow 1s ease-in-out;
    -moz-animation: slideinArrow 1.7s ease-in-out; ;
    @keyframes slideinArrow {
      from {
        top: -100%;
      }
      to {
        top: 0;
      }
    }
    @-moz-keyframes slideinArrow {
      from {
        top: -100%;
      }
      to {
        top: 0;
      }
    }

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
    &>.material-icons {
      font-size: 40px;
    }
  }
  &__close {
    position: absolute;
    top: 2%;
    right: 2%;
    color: white;
    opacity: 0.3;
    font-size: 50px;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
    &>.material-icons {
      font-size: 40px;
    }
  }
}
.hamburger {
  display: none;
  position: relative;
  top: -20%;
  animation: slideinPopupNavFromTop 0.7s ease-in-out;
  -moz-animation: slideinPopupNavFromTop 1.6s ease-in-out;
  @keyframes slideinPopupNavFromTop {
    from {
      top: -100%;
    }
    to {
      top: -20%;
    }
  }
  @-moz-keyframes slideinPopupNavFromTop {
    from {
      top: -100%;
    }
    to {
      top: -20%;
    }
  }
  &__open-close {
    display: none
  }
}
.popupnav {
  padding: 10px 30px;
  background: #666666;
  border: 0.5px solid transparent;
  border-radius: 9px;
  box-shadow: 14px 20px 28px rgba(0,0,0,0.4),
              -14px 20px 28px rgba(0,0,0,0.4);
  &-list {
    list-style: none;
    text-align: center;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    &__item {
      margin-bottom: 10px;
      cursor: pointer;
      color: #e1e1e1;
      font-family: 'PT Sans', sans-serif;
      border-radius: 4px;
      transition: .5s;
      &:hover {
        transform: scale(1.05);
        box-shadow: 0 3px 17px black;
      }
    }
  }
}

//for big screens
@media (min-width: 2560px) {
  .services {
    &-container {
      @include containerBigSreen()
    }
    &__title {
      @include titleBigScreen()
    }
  }
  .service {
    width: 398px;
    border: 3px solid rgb(49, 196, 189);
    &:hover {
      box-shadow: inset 398px 0 0 0 rgba(49, 196, 189, 0.44);
    }
    &__title {
      font-size: 36px;
      padding: 36px;
    }
  }
  .popupnav {
    padding: 20px 50px;
    &-list {
      font-size: 23px;
    }
  }
  .popup {
    &__title {
      font-size: 56px;
    }
    &__intro {
      font-size: 23px;
      line-height: 34px;
    }
    &__arrow {
     &>.material-icons {
       font-size: 55px;
     }
    }
    &__close {
      &>.material-icons {
        font-size: 55px;
      }
    }
  }
}


@media (max-width: 1550px) {
  .hamburger {
    display: none;
    position: absolute;
    top: 20%;
    left: -335px;
    z-index: 1;
    transition: .3s;
    animation: hambSlideInFromLeft 1.5s;
    @keyframes hambSlideInFromLeft {
      from {
        left: -380px
      }
      to {
        left: -335px
      }
    }
    &--opened {
      left: 0;
    }
    &__open-close {
      position: absolute;
      top: -11%;
      right: -3%;
      background: rgb(76, 144, 141);
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #e1e1e1;
      box-shadow: -3px 8px 10px 3px rgba(0, 0, 0, 0.4);
    }
  }
}



@media (max-width: 480px) {
  .popup-content {
    //height: 617px;
  }
  .popup__arrow {
    position: absolute;
    color: black;
    opacity: 0.6;
    z-index: 99;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
  #left {
    left: 0
  }
  #right {
    right: 0
  }
  .hamburger {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 52px;
    align-items: center;
    background: rgb(76, 144, 141);
    animation: slideInNavbarFromTopXs 1s;
    @keyframes slideInNavbarFromTopXs {
      from {
        top: -60px
      }
      to {
        top: 0
      }
    }
    &__open-close {
      display: none;
    }
    &:before {
      content: "≡";
      color: #ffffff;
      font-size: 60px;
      margin-left: 40px;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .popupnav {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 3.2rem;
    max-height: 300px;
    transition: max-height .3s;
    z-index: 1;
    border: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    &--closed {
      overflow: hidden;
      max-height: 0;
    }
    &-list {
      /*position: absolute;
      max-height: 300px;
      transition: max-height .3s;*/
      //-webkit-margin-before: 37px;
      //-webkit-margin-after: 0;
     // -webkit-margin-start: -44px;
      //-webkit-margin-end: 0;

    }
    &-list--closed {
      overflow: hidden;
      max-height: 0;
    }
  }
}





